header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.header {

  /* background-color: black; */
  align-items: center;
  background-color: rgb(80, 45, 23);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;

  /* background-color: rgb(206, 152, 159);
  background-color: rgb(220, 190, 148);
  background-color: rgb(119, 159, 134);
  background-color: rgb(136, 154, 168); */

  /* background-color: rgba(23, 163, 184, 0.493); */

}

.header h1 {
  font-size: 30px;
}

.header button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.searchHeader {
  background-color: rgb(80, 45, 23);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  clip-path: inset(0 0 -5px 0);
  color: white;
  margin-top: -1px;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.search-text {
  border: 1px solid rgba(0, 0, 0, 0.425);
  border-radius: 5px;
  padding: 4px 8px;
  width: 80vw;
}

.search button {
  background-color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 3px 10px;
}

.search-radio {
  margin: 15px 5px;
  vertical-align: middle;
}
