header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.header {

  /* background-color: black; */
  align-items: center;
  background-color: rgb(255, 239, 222);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 5px 0;

  /* background-color: rgb(206, 152, 159);
  background-color: rgb(220, 190, 148);
  background-color: rgb(119, 159, 134);
  background-color: rgb(136, 154, 168); */

  /* background-color: rgba(23, 163, 184, 0.493); */

}

.header h1 {
  font-size: 30px;
}

.header button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
