/* teste */
.principal {
  background-color: rgb(254, 238, 221);
  min-height: 100vh;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 120px;
  width: 92vw;
}

.filter button {
  background-color: rgb(211, 145, 86);
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.637);
  height: 50px;
  margin: 3px;
  width: 100px;
  word-break: break-word;
}

.principalLink {
  color: inherit;
  text-decoration: inherit;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.principalCard {
  height: 200px;
  margin-bottom: 20px;
  width: 100vw;
}

.imgContainer {
  height: 80%;
  overflow: hidden;
  width: 100%;
}

.imgContainer img {
  width: 100%;
}

.textContainer p {
  text-align: center;
}
