/* teste */
.principal {
  background-color: rgb(254, 238, 221);
  min-height: 100vh;
}

.filter {
  display: flex;
  flex-wrap: wrap;

  /* height: 70vh; */
  height: fit-content;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 80px;
  width: 92vw;
}

.filter button {
  background-color: rgb(197, 138, 86);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.637);
  color: white;
  height: 50px;
  margin: 10px;
  width: 130px;
  word-break: break-word;
}

.principalLink {
  color: inherit;
  text-decoration: inherit;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.principalCard {
  height: 200px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  width: 95vw;
}

.principalCard img {
  position: absolute;
  top: -60px;
  width: 100%;
}

.textContainer {
  background: linear-gradient(0deg, black 2%, var(--linear-1) 30%, rgba(0, 0, 0, 0) 92%);
  bottom: 0;
  color: white;
  height: 60px;
  position: absolute;
  text-align: center;
  width: 100vw;
}

.textContainer p {
  font-size: 20px;
  margin-top: 15px;
}
