@import"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.separator {
  height: 10px;
  width: auto;
  margin-top: 60px;
}

.separator-2 {
  height: 10px;
  width: auto;
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 54px;
  background-color: rgb(80, 45, 23);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
}

.footer-flex {
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(80, 45, 23);
}

.iconFilter {
  filter: invert(100%) drop-shadow(0px 0px 0px rgb(255, 255, 255));
}
